# Full azure search service/ index details
AZURE_SEARCH_SERVICE="https://{your-ai-search}.search.windows.net"
AZURE_SEARCH_INDEX="your-search-index-name"

# Azure openai/ foundry details + embedding/ llm model detais
AZURE_OPENAI_ACCOUNT="https://{your-foundry-name}.openai.azure.com/"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT="text-embedding-3-large"
AZURE_OPENAI_EMBEDDING_MODEL="text-embedding-3-large"
AZURE_OPENAI_LLM_DEPLOYMENT="gpt-4o"
OPENAI_API_VERSION="2025-01-01-preview"
AI_SERVICES_ACCOUNT="https://{your-foundry-name}.cognitiveservices.azure.com/"

# ARM ID of storage account with resourceid prefix
AZURE_STORAGE_CONNECTION="ResourceId=/subscriptions/{your-sub-name}/resourceGroups/{your-storage-rg}/providers/Microsoft.Storage/storageAccounts/{your-storage-accont-name};"

